.input-container{
    background-color: #b3b4c5;
    height: 100px;
}

.input-container div{
    box-sizing: border-box;
    width: 100%;
    text-align: right;
    height: 100px;
    font-size: 80px;
    border: none;
}